apiVersion: v2
name: cloudquery
description: The open-source cloud asset inventory powered by SQL.
home: https://cloudquery.io
type: application
kubeVersion: "^1.8.0-0"
icon: https://avatars.githubusercontent.com/u/74616112
keywords:
  - cloudquery
sources:
  - https://github.com/cloudquery/helm-charts/tree/main/charts/cloudquery

maintainers:
  - name: yevgenypats
    email: yp@cloudquery.io

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 0.1.8

# This is the version number of the application being deployed.This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
# It is recommended to use it with quotes.
appVersion: "0.22"


# https://artifacthub.io/docs/topics/repositories/
annotations:
  artifacthub.io/license: MPL-2.0
  artifacthub.io/links: |
    - name: cloudquery
      url: https://github.com/cloudquery/cloudquery
  artifacthub.io/maintainers: |
    - name: yevgenypats
      email: yp@cloudquery.io

dependencies:
- name: secrets-store-csi-driver
  version: "1.1.2"
  repository: "https://kubernetes-sigs.github.io/secrets-store-csi-driver/charts"
