apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "cloudquery.fullname" . }}-cron
  labels:
  {{- include "cloudquery.labels" . | nindent 4 }}
spec:
  schedule: "{{ .Values.schedule }}"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      backoffLimit: 0
      template:
        metadata:
          labels:
          {{- include "cloudquery.selectorLabels" . | nindent 12 }}
        spec:
          {{- if .Values.serviceAccount.enabled }}
          serviceAccountName: {{ include "cloudquery.serviceAccountName" . }}
          {{- end }}
          containers:
            - name: cloudquery
              env:
              - name: CQ_INSTALL_SRC
                value: "{{ .Values.cqInstallSrc | default "HELM" }}"
              envFrom:
              - secretRef:
                  name: {{ include "cloudquery.fullname" . }}-secret
              image: "{{ include "cloudquery.image" . }}"
              imagePullPolicy: Always
              args: ["fetch", "--config", "/app/config/config.yml", "--enable-console-log", "--encode-json"]
              resources:
              {{- toYaml .Values.resources | nindent 16 }}
              volumeMounts:
              - name: config
                mountPath: /app/config
          volumes:
          - name: config
            configMap:
              name: {{ include "cloudquery.fullname" . }}-config
              items:
              - key: config.yml
                path: config.yml
          restartPolicy: Never
