name: Auto Update Docs

on:
  push:
    branches:
      - release-please-*

permissions:
  contents: read

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GH_CQ_BOT }}

      - name: Update Docs
        run: |
          docker run --rm --volume "$(pwd):/helm-docs" -u "$(id -u)" jnorwood/helm-docs:v1.11.0

      - name: Get component from branch name
        uses: actions/github-script@v8
        id: component
        with:
          result-encoding: string
          script: |
            const lastPartOfBranch = context.ref.split('-').pop();
            return lastPartOfBranch;

      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          file_pattern: charts/${{ steps.component.outputs.result }}/README.md
          commit_message: "chore: Update docs"
